.body {
  width: 400px;
}
.card {
  width: 500px;
  margin: 0 auto;
  display: flex;
  background-color: #ff8901;
  justify-content: space-around;
  text-align: center;
  padding: 15px;
  border-bottom: 5px solid #0d1b2a;
}
.img-el {
  width: 200px;
  border-radius: 100%;
  border: 1px solid #fca311;
}
p {
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: oblique;
}
h3 {
  font-style: italic;
}
